  <mat-card class="rounded-card">
    <mat-card-content class="card-content">
     <!-- <b> Doctors</b> -->
     <mat-card-title>
       All Doctors
    </mat-card-title>

      <mat-form-field appearance="outline" class="search-box">
        <!-- <mat-label>Search Something</mat-label> -->
        <input type="text" matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <div class="button-group">
        <button mat-mini-fab color="primary">
          <mat-icon class="col-white">add</mat-icon>
        </button>
        <button mat-mini-fab color="primary">
          <mat-icon class="col-white">refresh</mat-icon>
        </button>
        <div class="icon-button-demo m-l-10" [hidden]=!selection.hasValue()>
          <button mat-mini-fab color="warn">
            <mat-icon class="col-white">delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-header>
    <mat-card-title>
      List Of All Doctors
    </mat-card-title>
  </mat-card-header>
     <div class="mat-table-container">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
  <ng-container matColumnDef="id">
    <mat-header-cell mat-sort-header *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="department">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Department </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.department}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="availableSDate">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Available Start Date </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.availableSDate}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="availableTDate">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Available End Date </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.availableTDate}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="table-header">Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Delete" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    